@model IEnumerable<PizzApp.Models.Pizza>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Pizza</h1>


<a asp-action="Create" class="btn btn-success">Create New</a>

<button 
    type="button" 
    value="Add Pre Def Item"
    class="btn btn-success"
        onclick="location.href='@Url.Action("AddPreDefItem", "Pizzas", new Pizza("Margherita", "Mozzarella cheese, herb tomato sauce", Convert.ToDecimal(50.88), "margherita.jpg"))'">
    Add Margherita
</button>
<button type="button"
        value="Add Pre Def Item"
        class="btn btn-success"
        onclick="location.href='@Url.Action("AddPreDefItem", "Pizzas", new Pizza("Pepperoni", "Pepperoni sausage, mozzarella cheese, herb tomato sauce", Convert.ToDecimal(50.77), "pepperoni.jpg"))'">
    Add Pepperoni
</button>

<button type="button"
        value="OrderByPrice"
        class="btn btn-info"
        onclick="location.href='@Url.Action("OrderByPrice", "Pizzas")'">
    Order By Price
</button>
<button type="button"
        value="OrderByName"
        class="btn btn-info"
        onclick="location.href='@Url.Action("OrderByName", "Pizzas")'">
    Order By Name
</button>
<button type="button"
        value="DeleteAll"
        class="btn btn-danger"
        onclick="location.href='@Url.Action("DeleteAll", "Pizzas")'">
    Delete All
</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="item-name">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-secondary">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
